<div class="col-md-12">
  <div class="box box-danger">
    <div class="box-header with-border">
      <h3 class="box-title">风险快讯</h3>
    </div>
    <div class="box-body no-padding">
      <table id="risk" class="table table-hover table-custom table-risk no-margin">
        <thead>
          <tr>
            <th class="col-title">标题</th>
            <th class="col-source">来源</th>
            <th class="col-time">时间</th>
            <th class="col-risk">风险指数</th>
            <th class="col-relevance">本地相关度</th>
          </tr>
        </thead>
        <tbody></tbody>
      </table>
    </div>
    <div class="box-footer text-center">
      <a href="/risk/">查看更多</a>
    </div>
  </div>
</div>
