{% extends "base/_layout.html" %}

{% block class %}skin-blue-light{% endblock %}

{% block _content %}
  <div class="wrapper">
    {% include "base/header.html" %}

    {% include "base/sidebar.html" %}

    <div class="content-wrapper">
      <section class="content-header">
        {% block header %}{% endblock %}
      </section>

      <section class="content">
        {% block content %}{% endblock %}
      </section>
    </div>

    {% include "base/footer.html" %}
  </div>
{% endblock %}
