.table-custom {
  // fixed layout
  table-layout: fixed;
  width: 100%;
  white-space: nowrap;

  margin-bottom: 10px !important;


  td {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  // .col-collection {
  //   width: 1em;
  // }
  .col-source {
    width: 12em;
  }
  .col-location {
    width: 6em;
  }
  .col-time {
    width: 7em;
  }
  .col-index {
    width: 4em;
  }


  // collection
  .star {
    text-align: center;
  }

  .fa.fa-star,
  .fa.fa-star-o {
    color: @yellow;
    cursor: pointer;
  }


  // hot index
  .index {
    text-align: center;
  }

  .selected {
    background-color: #f5f5f5;
  }
}

#inspection {
  .col-category {
    width: 10em;
  }

  .col-quality {
    width: 6em;
  }

  .col-source {
    width: 10em;
  }

  .col-time {
    width: 7em;
  }
}