.media-list {
  margin-bottom: 0;
}

.media {
  margin: 0 10px;
  padding: 10px 0;
  border-top: 1px solid #f4f4f4;
  
  &:first-child {
    border-top: 0;
  }
}

.media-object {
  width: 64px;
  height: 64px;
}